<ion-view>
	<ion-header-bar class="item-input-inset" align-title="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    <h1 class="title" style="text-align:center">{{'Issue' | translate}}</h1>
		<button ng-if="model.project" class="button button-clear button-positive" ng-click="save()">{{'save' | translate}}</button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<label class="item item-input">
				{{'Project' | translate}}:<input type="text" name="Project" ng-model="model.project" >
			</label>
		</div>
	</ion-content>
</ion-view>