<ion-view >
  <ion-header-bar>
    	<h1 class="title">{{'Registration Details' | translate}}</h1>
    	<button ng-if="model.showAction" class="button button-clear button-positive" ng-click="save()">{{'Save' | translate}}</button>
    	<button ng-if="model.showAction" class="button button-clear button-positive" ng-click="submit()">{{'Issue' | translate}}</button>
  </ion-header-bar>
  <ion-content >
	<div class="list">
		<label class="item item-input">
		 	<span class="input-label">{{'Record No.' | translate}}</span>
			<input type="text" ng-model="model.number">
		</label>
		<div class="item item-input">
		    <span class="input-label">{{'Location' | translate}}</span>
		    <fancy-select
				template-url='templates/registration/select.html'
				ng-selected="model.location"
				ng-model="location"
				title="{{'Select Location' | translate}}">
			</fancy-select>
		</div>
		<label class="item item-input">
		 	<span class="input-label">{{'Project' | translate}}</span>
			<input type="text" ng-model="model.project">
		</label>
		<label class="item item-input">
		 	<span class="input-label">{{'Purpose' | translate}}</span>
			<input type="text" ng-model="model.purpose">
		</label>
		<label class="item item-input">
		 	<span class="input-label">{{'Details' | translate}}</span>
			<input type="text" ng-model="model.detail">
		</label>
		<label class="item item-input">
		 	<span class="input-label">{{'Area of Visit' | translate}}</span>
			<input type="text" ng-model="model.area">
		</label>
		<label class="item item-input">
		 	<span class="input-label">{{'Cabinets' | translate}}</span>
			<input type="text" ng-model="model.cabinet">
		</label>
  		<label class="item item-toggle item-text-wrap">
     		<span class="toggle-label">I (the Request) confirm that the following visitor(s) have been reminded to observe  / have read the CCC Discipline</span>
     		<label class="toggle toggle-positive">
	       		<input type="checkbox">
	       		<div class="track">
	         		<div class="handle"></div>
	       		</div>
     		</label>
  		</label>
  		<label class="item item-toggle item-text-wrap">
  			<span class="toggle-label">I (the Request) confirm that the following visitor(s) need to connect mobile devices / removable media to the IT System hosted in CCC</span>     		
     		<label class="toggle toggle-positive">
	       		<input type="checkbox">
	       		<div class="track">
	         		<div class="handle"></div>
	       		</div>
     		</label>
  		</label>
  		<label class="item item-toggle item-text-wrap">
     		<span class="toggle-label">I (the Request) confirm that the following visitor(s) need to copy / download data to mobile devices / removable media</span>
     		<label class="toggle toggle-positive">
	       		<input type="checkbox">
	       		<div class="track">
	         		<div class="handle"></div>
	       		</div>
     		</label>
  		</label>
  		<label class="item item-toggle item-text-wrap">
     		<span class="toggle-label">Request CCC SO to inform BMO of the visitors in this CCCAR ONLY IF they have NO OGCIO departmental (staff / contractor staff) identity card AND require to access to WCDC in non-office hours</span>
     		<label class="toggle toggle-positive">
	       		<input type="checkbox">
	       		<div class="track">
	         		<div class="handle"></div>
	       		</div>
     		</label>
  		</label>
	</div>	    	
  </ion-content>
</ion-view>