<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="search">
	</label>
</div>
<ion-content class="list">	
	<ion-list>
	<ion-item ng-repeat="model in collection.models"  >
		<div class="row">
			<div class="col" ng-click="openurl(model);">
				<h2>{{model.project}}</h2>
			</div>
		</div>
		<ion-option-button ng-if="model.type!==undefined && model.type != 'manual' && model.progress < 100" class="button button-balanced icon-left ion-checkmark" on-tap="$event.stopPropagation(); completeTask(model);">Complete</ion-option-button>
	</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>