<div class="tabs-striped tabs-background-positive tabs-color-light">
	<div class="tabs" ng-init="all='active'">
		<a class="tab-item" ng-class="all" ng-click="status=''; all='active'; draft=''; pending=''; approved=''">All</a>
		<a class="tab-item" ng-class="draft" ng-click="status='Draft'; all=''; draft='active'; pending=''; approved=''">Draft</a>
		<a class="tab-item" ng-class="pending" ng-click="status='Pending'; all=''; draft=''; pending='active'; approved=''">Processing</a>
		<a class="tab-item" ng-class="approved" ng-click="status='Approved'; all=''; draft=''; pending=''; approved='active'">Approved</a>
	</div>
</div>	
<ion-view>	
	<ion-header-bar>
  		<h1 class='title'>{{'My Registration' | translate}}</h1>  		
	</ion-header-bar>	
	<ion-content>		
		<ion-refresher
		    on-refresh="doRefresh()">
		</ion-refresher>
		<ion-list>
			<label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="search" placeholder="Search" ng-model="keyword">
			</label>
			<ion-item ng-repeat="model in collection.models | regFilter: status | keywordFilter: keyword">				
				<div class='row' ng-click="openurl(model)">
					<div class='col'>
						{{model.number}}
					</div>
					<div class='col'>
						{{model.project}}
					</div>
					<div class='col'>
						{{model.status}}
					</div>
				</div>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>
