<ion-view >
  <ion-header-bar>
    	<h1 class="title">{{'Registration Details' | translate}}</h1>
    	<button ng-if="model.showAction" class="button button-clear button-positive" ng-click="withdraw()">{{'Withdraw' | translate}}</button> 
    	<button ng-if="model.showAction" class="button button-clear button-positive" ng-click="reject()">{{'Reject' | translate}}</button>
    	<button ng-if="model.showAction" class="button button-clear button-positive" ng-click="submit(false)">{{model.nextAction | translate}}</button>   	
  </ion-header-bar>
  <ion-content >
	<div class="list list-inset">
		<div class="row">
			<div class="col col-33">{{'Status' | translate}}</div>
			<div class="col">{{model.status}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Record No.' | translate}}</div>
			<div class="col">{{model.number}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Location' | translate}}</div>
			<div class="col">{{model.location}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Project' | translate}}</div>
			<div class="col">{{model.project}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Purpose' | translate}}</div>
			<div class="col">{{model.purpose}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Details' | translate}}</div>
			<div class="col">{{model.detail}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Area of Visit' | translate}}</div>
			<div class="col">{{model.area}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Cabinets' | translate}}</div>
			<div class="col">{{model.cabinet}}</div>
		</div>
		<br>
		<div class="item" ng-repeat="history in historys.models">
			<p>{{history.msg}}{{history.msgAt | date:"dd/MM/yyyy 'at' h:mma"}}
		</div>
	</div>	    	
  </ion-content>
</ion-view>