<ion-view >
  <ion-header-bar>
    	<h1 class="title">{{'CCCAR' | translate}}</h1>    	
  </ion-header-bar>
  <ion-content >
	<div class="list list-inset">
		<div class="row">
			<div class="col col-33">{{'Location' | translate}}</div>
			<div class="col">{{model.location}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Project' | translate}}</div>
			<div class="col">{{model.project}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Purpose' | translate}}</div>
			<div class="col">{{model.purpose}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Details' | translate}}</div>
			<div class="col">{{model.detail}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Area of Visit' | translate}}</div>
			<div class="col">{{model.area}}</div>
		</div>
		<div class="row">
			<div class="col col-33">{{'Cabinets' | translate}}</div>
			<div class="col">{{model.cabinet}}</div>
		</div>
		<br>
		<div class="item">
			<p>Issued by {{model.issuedBy}} on {{model.issuedAt | date:"dd/MM/yyyy 'at' h:mma"}}
			<p ng-if="model.issuedBy && !model.endorsedBy"><b>{{model.status}} by {{model.nextHandler}}</b>
			<p ng-if="model.endorsedBy">Endorsed by {{model.endorsedBy}} on {{model.endorsedAt | date:"dd/MM/yyyy 'at' h:mma"}}
			<p ng-if="model.endorsedBy && !model.approvedBy"><b>{{model.status}} by {{model.nextHandler}}</b>
			<p ng-if="model.approvedBy">Approved by {{model.approvedBy}} on {{model.approvedAt | date:"dd/MM/yyyy 'at' h:mma"}}
		</div>
	</div>	    	
  </ion-content>
</ion-view>